html {
  width:           100%;
  height:          100%;
}

body {
  width:           100%;
  height:          100%;
  margin:          0;
  overflow:        hidden;
  background:      white;
}

<<<<<<< HEAD
img {
  border-radius:   10px;
}

=======
>>>>>>> 05256236b562778d62e5eed4572c7a2ba29ff97b
.header {
  display:         block;
  position:        absolute;
  top:             0;
  left:            0;
  width:           100%;
  height:          100px;
  background:      white;
}

.navi {
  display:         block;
  position:        absolute;
  top:             100px;
  left:            0;
  bottom:          50px;
  width:           200px;
  background:      white;
}

.main {
  display:         block;
  position:        absolute;
  top:             100px;
  left:            200px;
  right:           0;
  bottom:          50px;
  background:      white;
}

.footer {
  display:         block;
  position:        absolute;
  left:            0;
  right:           0;
  bottom:          0;
  height:          50px;
  background:      white;
  text-align:      center;
}


.navi img {
  border:          solid 5px red;
  border-radius:   10px;
}
